.spot-list{
  position: absolute;
  bottom: 0;
  max-height: 40vh;
  width: 100%;
  background: #fff;
}

.detail-text{
  padding-left: 0.15rem;
  &.finish{
    text-decoration: line-through;
    color: #999;
  }
}
